@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent zoom */
html {
  touch-action: pan-x pan-y;
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}

/* Hide vertical scrollbar globally */
body {
  overflow-y: hidden;
  /* Prevent user from zooming */
  touch-action: pan-x pan-y;
}

/* Enable vertical scroll only on mobile devices */
@media (max-width: 640px) {
  body {
    overflow-y: auto;
  }
}
